<main class="index">
  <header class="bg-image d-flex">
    <div class="text-center m-auto p-5 bg-dark">
      <h1 class="mb-1 display-1">Manzanas del cuidado</h1>
      <h3 class="mb-5">
        <em>Gestiona tus servicios en tu manzana más cercana</em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/signin">
        Inicia aquí
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>